* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(45deg, var(--color-1), var(--color-9));
  background-size: cover;
  background-repeat: no-repeat;
}

:root {
  --color-1: #002c7c;
  --color-2: #004289;
  --color-3: #005896;
  --color-4: #006ea3;
  --color-5: #0084b0;
  --color-6: #009abd;
  --color-7: #00b2cb;
  --color-8: #ffff;
  --color-9: #000;
}
